/*définition des polices personnalisees*/
@font-face {
  font-family: "raleway-variableFont_wght";
  src: url(Raleway/Raleway-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
}

/*principaux elements de la page*/
body {
  font-family: "raleway-variableFont_wght";
  background-color: white;
}

#bloc_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 975px;
  margin: auto;
  background-color: white;
}
/*En tete*/
#presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.logo {
  display: flex;
  width: 100%;
  border-radius: 5px;
}
.logos {
  width: 100%;
  padding-left: 30px;
}

.ancre {
  display: flex;
  width: 48%;
  height: auto;
  border-radius: 5px;
  font-size: 13px;
}
nav {
  width: 100%;
  display: flex;
}
.liens {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  text-decoration: none;
  align-items: center;
}
.liens > a {
  width: 100px;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  border-top: white 2px solid;
  text-decoration: none;
  color: black;
}
.liens > a:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}
.liens {
  padding-left: 50px;
}
/*formulaire*/
.titre {
  width: 100%;
  height: auto;
  border-radius: 5px;
  justify-content: space-around;
  align-items: stretch;
  margin-left: 10px;
}

.appat {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.appat p {
  margin-top: 10px;
  font-size: 12px;
}
.cherche {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.desktop {
  display: none;
}
.mobile {
  display: none;
}
.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f2f2f2;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.ville {
  width: 200px;
  height: 40px;
  display: flex;
}
.cherches {
  border: none;
  padding-left: 5px;
}
.cherches:focus-visible {
  outline: none;
}
.bouton {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  border: 2px solid #0065fc;
  background-color: #0065fc;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.trouves {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
form {
  width: 100%;
  margin-top: 15px;
}
/*filtrer*/
.filtre {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.filtre h3 {
  margin-right: 10px;
  font-size: 15px;
}

.selection {
  height: 50px;
  width: fit-content;
  border-radius: 30px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 10px;
}
.couleurbouton {
  background-color: transparent;
  width: fit-content;
  height: 45px;
  border-radius: 30px;
  font-weight: bold;
  padding-right: 10px;
  padding-top: 30px;
}
.couleurbouton:hover {
  color: white;
}

.icone {
  border-radius: 30px;
  color: #0065fc;
  background-color: #deebff;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 16px 13px 16px 13px;
}
.filtreBleu:hover {
  background-color: #0065fc;
  color: white;
}
.filtreBleu {
  background-color: white;
  border: 2px solid #deebff;
  cursor: pointer;
}
.button {
  width: 90px;
  height: 25px;
  border: #f2f2f2 solid 2px;
  border-radius: 20px;
}
.textes {
  display: flex;
  align-items: center;
}
.info {
  width: 100%;
}

.info > i::before {
  margin-right: 12px;
  font-size: 12px;
  padding: 4px 9px;
  color: #0065fc;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #d7d7d7;
}
.info p {
  font-size: 12px;
}
h1 {
  font-size: 20px;
}
.fa-info-circle {
  padding-right: 10px;
}
/*hebergements a marseille*/
#reservation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}
.seloger {
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: start;
  background-color: #f2f2f2;
  width: 670px;
  height: auto;
}
.seloger h3 {
  font-weight: bold;
}
#hebergements {
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px;
}
.logement {
  width: 180px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
  box-shadow: 1px 6px 8px -1px rgb(228 226 226 / 70%);
}
.logement:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.image_logement {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 98%;
  object-fit: cover;
  height: 115px;
}
.logement figcaption {
  border-radius: 10px;
  text-align: left;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.logement_tarif {
  padding-top: 5px;
}
.etoile {
  color: #0065fc;
  padding-top: 5px;
}
.etoile-vide {
  color: #d6d6d6;
}
.lien-boite {
  text-decoration: none;
}
.lien-afficherplus {
  width: 600px;
  height: auto;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.logement figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*populaire*/
.populaire {
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  width: 296px;
  height: 500px;
}
.titrepop {
  display: flex;
  justify-content: space-between;
  width: 270px;
  height: 20px;
  border-radius: 10px;
  flex-direction: row;
  font-weight: bold;
}

.peuple {
  width: 270px;
  height: 126px;
  border-radius: 10px;
  background-color: white;
  font-size: 12px;
  display: flex;
  padding-left: 2px;
  box-shadow: 1px 6px 8px -1px rgb(228 226 226 / 70%);
}
.peuple:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.image_populaire {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  width: 126px;
  margin: 4px;
}
.peuple figcaption {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.lien-peuple {
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}
.lien-peuple .etoile {
  margin-top: auto;
}
.boites {
  display: flex;
  height: 126px;
}
.boites figcaption h4 {
  margin-bottom: 15px;
}
/*activite a marseille*/

.activites {
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 10px;
  background-color: white;
  height: auto;
}
#activites {
  width: 100%;
  margin-top: 0px;
}

.monument {
  display: flex;
  height: auto;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
  align-items: center;
  font-size: 12px;
}
.grandmonument {
  width: 225px;
  height: auto;
  border-radius: 10px;
  box-shadow: 15px 15px 15px #f2f2f2;
}
.grandmonument figcaption,
.visitemonument figcaption {
  padding: 10px;
}
.visitemonument {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 15px 15px 15px #f2f2f2;
}

.petitmonument {
  display: flex;
  flex-wrap: wrap;
  width: 225px;
  gap: 20px;
  border-radius: 10px;
  align-content: space-between;
}

.image-activite {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 5px;
  width: 100%;

  object-fit: cover;
}
.grandmonument .image-activite {
  height: 300px;
}
.visitemonument .image-activite {
  height: 120px;
}
.lien-activite {
  text-decoration: none;
  color: black;
}
.activites article:hover {
  transform: scale(1.1);
}
.voir figcaption {
  color: black;
}
/*pied de page*/
.final {
  display: flex;
  column-gap: 140px;
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 100%;
  height: auto;
  text-decoration: black;
  padding: 30px;
}
.final a {
  text-decoration: none;
  color: black;
}
.service {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 0px;
  border-radius: 10px;
  width: 190px;
  font-size: 12px;
}
.service p {
  font-weight: bold;
}
.texte {
  flex-direction: column;
}
.service li {
  list-style-type: none;
  margin-top: 10px;
}
.service ul {
  width: 220px;
  flex-direction: column;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  #bloc_page {
    width: 100%;
  }
  #presentation,
  #reservation {
    width: 100%;
    height: auto;
  }
  #presentation {
    flex-direction: column;
  }
  #hebergements {
    margin: 0;
  }
  .logo .ancre {
    width: auto;
    height: auto;
  }
  .ancre {
    flex-direction: column;
    width: 100%;
  }
  .logos {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .liens > a {
    height: auto;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .liens > a:hover {
    border-bottom: solid 2px #0065fc;
    color: #0065fc;
  }
  .liens > a:hover {
    border-top: 0px;
  }
  .liens {
    padding-left: 0;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: center;
  }
  .liens > a {
    height: 20px;
    padding-bottom: 10px;
  }
  .titre,
  .activites,
  .final {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .appat {
    height: auto;
  }
  .cherche {
    width: 100%;
    justify-content: center;
  }
  .cherches {
    width: 100%;
    justify-content: center;
  }
  .bouton {
    width: 50px;
    border-radius: 15px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .trouves {
    display: none;
  }
  .loupe {
    color: white;
    padding-top: 12px;
  }
  .ville {
    width: 150px;
  }
  .filtre {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    display: flex;
  }
  .filtre h3 {
    width: 100%;
  }
  .info {
    width: 100%;
  }
  .choix {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  #reservation {
    flex-direction: column-reverse;
    padding: 10px;
  }
  .populaire {
    width: 100%;
    border-radius: 10px;
  }

  .lien-peuple {
    width: 100%;
  }
  .titrepop {
    border-radius: 10px;
  }
  #hebergements {
    border-radius: 10px;
  }
  .logement:hover {
    cursor: pointer;
    transform: none;
  }
  .peuple:hover {
    cursor: pointer;
    transform: none;
  }

  .seloger {
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 40px;
  }
  .seloger h3 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .logement {
    margin-bottom: 15px;
    padding-bottom: 5px;
    width: 100%;
  }
  .image_logement {
    width: 100%;
    height: 110px;
    object-fit: cover;
  }
  .boite {
    width: auto;
    border-radius: 20px;
    padding-top: 7px;
  }
  .boites {
    width: 100%;
  }
  .image_populaire {
    width: 50%;
    min-width:153px;
  }
  .peuple figcaption {
    width: 70%;
  }
  .lien-afficherplus {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }
  .titrepop h3 {
    font-size: 15px;
  }

  .titrepop,
  .peuple {
    width: 100%;
    display: flex;
    margin: 0 10px;
  }
  .activites h3 {
    width: 100%;
    font-size: 15px;
  }
  .activites article:hover {
    transform: none;
  }
  .monument {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .grandmonument,
  .petitmonument {
    width: 100%;
    max-height: fit-content;
  }
  .grandmonument {
    height: 160px;
  }
  .grandmonument .image-activite {
    height: 120px;
  }

  .service {
    width: 100%;
  }
  .final {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-left: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  #bloc_page {
    width: auto;
  }
  #presentation,
  #reservation {
    width: 100%;
    margin: 10px;
  }
  .titre,
  .activites,
  .final {
    width: 100%;
    height: auto;
    margin-left: 10px;
  }
  .appat {
    height: auto;
  }
  .filtre {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .filtre h3 {
    width: 100%;
    margin-bottom: 10px;
  }
  .info {
    width: 100%;
  }
  .choix {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  #reservation {
    flex-direction: column-reverse;
  }
  .populaire {
    width: 98%;
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }
  .seloger {
    width: 98%;
    padding: 10px;
    height: auto;
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
  }
  .seloger h3 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .lien-afficherplus {
    width: 150px;
  }

  .logement {
    width: 48%;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
  }
  .image_logement {
    height: 150px;
    object-fit: cover;
  }
  .image_populaire {
    width: 300px;
  }
  .titrepop,
  .peuple {
    width: 100%;
    display: flex;
  }
  .peuple:hover,
  .logement:hover,
  .activites article:hover {
    transform: none;
  }
  .activites h3 {
    width: 100%;
  }
  .monument {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .grandmonument,
  .petitmonument {
    width: 45%;
    max-height: fit-content;
  }
  .service {
    width: 100%;
  }
  .final {
    height: auto;
    padding-left: 20px;
    column-gap: normal;
  }
}
